@charset "utf-8";
/* CSS Document */ 
body{background: url("Images/catpaw.jpg")}

.flexbox{display: flex; 
	flex-wrap: nowrap;background-color: rgba(0,0,0,1.00); width: 1200px; height: 150px; color: rgba(255,255,255,1.00)}

footer{background-color: rgba(180,176,176,1.00); height: 100px}
